@mixin year {
  display: flex;
  align-items: flex-end;

  margin-bottom: $lem * 2;

  &__title {
    display: flex;
    @include year__title;
  }

  .ul {
    @include ul;
    @include ul--underlined;

    // stretch ul to fill available space
    display: flex;
    flex-direction: column;
    flex-grow: 10;
  }
}
