@mixin article {
  display: flex;
  flex-direction: column;

  padding: 5vh 5vw;
  @include border(normal, bottom);

  &__title {
    @include article__title;
  }

  &__date {
    @include article__date;
  }

  &__number {
    @include article__number;
  }
}
