// Menu with a hamburger icon
//
// On portrait screens the menu will be revealed by the click on the hanburger menu
//
// Styleguide menu
@mixin menu {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__items {
    @include menu__items;
  }

  .icon-hamburger {
    order: 2;
    
    @include icon-hamburger;

    @include landscape {
      display: none;
    }
  }
}
