

// Text style
//
// Typographic settings for different text types.
// Each text type has set a `font`, a `scale`, a `color` and parameters like letter-spacing, max-width or else.
// Everything text uses this `text-style` mixin. We don't set `color` or `font` directly for a text.
//
// Styleguide text-style

// The width of a text block

$text-block-width: 25em; 



// The text mixin
@mixin text-style($variant) {
  
  // Default
  // - The basic settings for a text.
  @if ($variant == 'default') {
    @include font(nimbus-sans-regular);
    @include scale(default);
    @include colors(black-on-white);
    
    letter-spacing: 1.1px;
    
    
  }
  
  // Body text
  // - Settings for text blocks.
  @if ($variant == 'body-text') {
    @include p;
    
    max-width: 25em;
    
    
  }
  
  // Metamn
  // - Settings for the Metamn logo.
  @if ($variant == 'metamn') {
    @include font(silkscreen-regular);
    @include scale(large-1);
    
    
    
  }
  
  // Title
  // - Title
  @if ($variant == 'title') {
    @include font(nimbus-sans-bold);
    @include scale(large-4);
    @include word-wrap;
    
    max-width: 35em;
    
    
    @include mobile {
      @include scale(large-3);
      
      
    }
    
  }
  
  // Date
  // - Sate
  @if ($variant == 'date') {
    @include font(nimbus-sans-black);
    
    
    
  }
  
}


// Text style classes

.text-style--default {
  @include font(nimbus-sans-regular);
  @include scale(default);
  @include colors(black-on-white);
  
  letter-spacing: 1.1px;
  
  
}

.text-style--body-text {
  @include p;
  
  max-width: 25em;
  
  
}

.text-style--metamn {
  @include font(silkscreen-regular);
  @include scale(large-1);
  
  
  
}

.text-style--title {
  @include font(nimbus-sans-bold);
  @include scale(large-4);
  @include word-wrap;
  
  max-width: 35em;
  
  
  @include mobile {
    @include scale(large-3);
    
    
  }
  
}

.text-style--date {
  @include font(nimbus-sans-black);
  
  
  
}

