@mixin spacer {
  @include background-image-dotted;
  padding: 15vh 0;
  margin-top: $lem;

  &__text {
    @include text-style(body-text);
    @include colors(black-on-white);
    visibility: hidden;
  }

  @include spacer--mobile;
}
