// typography reset
//
// Reset typographic elements. Sits on the top of Normalize.css
//
// Styleguide typography-reset
@mixin typography-reset {
  h1, h2, h3, h4, h5, h6 {
    font-size: 1em;
    margin: 0;
    padding: 0;
    font-weight: normal;
  }

  p, figure, blockquote, ul, ol, li {
    margin: 0;
    padding: 0;
  }

  // Remove the extra bottom spacing for <img> inside <a>
  a img {
    line-height: 0;
    display: block;
  }

  figure a {
    display: block;
  }

  button,
  input[type="submit"] {
    border: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
  }
}
