@mixin li__nested($margin: $lem) {
  .title {
    cursor: pointer;
    @include colors(blue-on-white);
  }

  .ul {
    @include ul;
    @include ul--vertical;
    margin-left: $margin;

    @include transition(opacity);
    display: none;
    opacity: 0;
  }

  &--active {
    @include li__nested--active;
  }
}
