@mixin about {
  display: flex;

  // to make a grid like Years
  &__spacer {
    @include year__title;
    visibility: hidden;
    margin-right: 0;
  }

  &__text {
    @include text-style(body-text);
  }

  @include about--mobile;
}
