@mixin about {
  display: flex;
  position: absolute;
  padding: 5vh 0;
  top: $lem * 2; // Edge 13 bugfix

  // to make a grid like Years
  &__spacer {
    @include year__title;
    visibility: hidden;
  }

  &__text {
    @include text-style(body-text);
  }

  @include about--mobile;
}
