@mixin intro {
  display: flex;
  flex-wrap: wrap;

  padding: 5vh 5vw;
  @include border(normal, bottom);

  .about {
    @include about;
  }

  .logo {
    @include logo;
    visibility: hidden;
  }

  .years {
    @include years;
    width: 100%;
  }
}
