@mixin intro {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  height: 100vh;
  padding: 5vh 5vw;

  @include border(normal, bottom);

  .about {
    @include about;
  }

  .logo {
    @include logo;
  }

  .years {
    @include years;
  }
}
