@mixin x-fixed-scroll {
  display: flex;
  flex-direction: column;

  .placeholder {
    min-height: 70vh;

    &:last-of-type {
      min-height: 170vh;
    }
  }

  .fixed-scroll {
    @include fixed-scroll(20%);

    &__slide {
      margin-bottom: 10vh;

      &:last-of-type {
        margin-bottom: 0;
      }

      .title {
        font-size: 3em;
      }
    }
  }
}
